h2{
    color:white;
    font-size: small;

}
.orangeCaractere{
    color: orange;
    font-size: small;
}
ol{
    color: orange;
    font-size: small;
}
p{
    font-size: small;
    color: white;
}
li{
    color: white;
    font-size: small;
}

