*{
    color: white;
}
    
h2{
    color:white;
    font-size: medium;

}
p{
    font-size: medium;
}

.OrangeCharacter{
    color: orange;
    font-size: small;
}

footer{
    background-color:#0d0b26;
}
.Lfacebook{
    width: 30px;
    height: 30px;
}
.Ltwitter{
    width: 30px;
    height: 30px;
}
.Lgoogle{
    width: 30px;
    height: 30px;
}
.Lpinterest{
    width: 30px;
    height: 30px;
}
.Linstagram{
    width: 30px;
    height: 30px;
}
.BlockPowerOfMemory{
    position: absolute;
    top: 1000px;
    right: 100px;
    width: 200px;
    height: 100px;
}
.BlockInformation{
    position: absolute;
    top: 1000px;
    right: 1230px;
    width: 200px;
    height: 100px;
    color: white;
}
.Copyright {
    position: absolute;
    top: 1500px;
    right: 1230px;
    width: 100px;
    height: 100px;
}
li{
    text-decoration: none;
}